/*
 * Copyright (c) 2019.
 *
 * author: maksim martishkin
 */

.badge {
    display: inline-block;
}
.spinner_check_url {
    /*color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.72);
    z-index: 100500;*/
    display: none;
    height: 50px;
    line-height: 50px;
}
.sub_spinner_check_url {
    /*position: fixed;
    left: 0;
    top: 35%;
    right: 0;*/
}
.waiting_text {
    font-size: 2.0em;
    color: #3d3d3e;
    font-weight: 700;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
.scope_desk_color_danger {
    background: #ea0c0c;
}
.scope_desk_color_warming {
    background: #ffd900;
}
.scope_desk_color_success {
    background: #00480e;
}
#img_result_psi_mob,
#img_result_psi_desk {
    text-align: right;
}
.js_text_stast_psi_mob,
.js_text_stast_psi_desk {
    text-align: left;
    margin: 14px 0 0 25px;
}
.text_stats_psi {
    margin: 1px 0;
}
@media(max-width:767px) {
    #img_result_psi_mob,
    js_text_stast_psi_mob,
    #img_result_psi_desk,
    .js_text_stast_psi_desk {
        text-align: center;
    }
    .img_psi_mob,
    .img_psi_desk {
        width: 100%;
    }
}